<ion-view view-title="Enviar duvida">
  <ion-content>
  	<div class="spacer" style="width: 300px; height: 31px;"></div>
  	<h3 align="center">Enviar Dúvida</h3>
  	<div class="spacer" style="width: 300px; height: 31px;"></div>
    <form id="duvida" class="list">
      <label class="item item-input" id="votar-textarea1" >
        <textarea placeholder="Dúvida"></textarea>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <button id="votar-button2" class="button button-balanced button-block">Enviar Dúvida</button>
  </ion-content>
</ion-view>