<ion-view view-title="Mensagem">
  <ion-content>
  	<div class="spacer" style="width: 300px; height: 31px;"></div>
  	<h3 align="center">Enviar mensagem</h3>
  	<div class="spacer" style="width: 300px; height: 31px;"></div>
    <form id="mensagem" class="list">
      <label class="item item-input" id="votar-textarea1" >
        <textarea placeholder="Mensagem"></textarea>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <button id="votar-button2" class="button button-balanced button-block">Enviar</button>
  </ion-content>
</ion-view>
