<ion-view view-title="Horario" id="verhorario" ng-controller="VerHorarioCtrl">
	<ion-content>
		<h1 align="center">Horario</h1>
		<div class="list">

			<label class="item item-input item-select">
				<div class="input-label">
					Horario
				</div>
				<select>
					<option selected>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</label>
		</div>
		<a id="login-button1" href="#/app/horarios" class="button button-balanced button-block">Entrar</a>
	</ion-content>
</ion-view>
